*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000ff;
    min-height: 100vh;
}
h2{
    position: relative;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #18191d;
    text-transform: uppercase;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #01fe87;
    --webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 5s linear infinite;

}

@keyframes animate {
    0%, 10%, 100%{
        width: 0;
    }
     90%{
        width: 100%;
    }
}